{% extends 'services/base.html' %}

{% block content %}
<div class="py-5 px-3 text-center">
  <h1 class="display-5 fw-bold text-success">Welcome to EcoConnect 🌱</h1>
  <p class="lead">Your trusted platform for sustainable local services.</p>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card shadow-sm mb-4" style="background-color: #90c0aa; border: none;">
      <div class="card-body text-center">
        <h5 class="card-title" style="color: #14532d;">☀️ What is EcoConnect?</h5>
        <p class="card-text" style="color: #2c3e50;">EcoConnect links you with trusted local providers for eco-friendly services like solar, composting, and more.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-sm mb-4" style="background-color: #90c0aa; border: none;">
      <div class="card-body text-center">
        <h5 class="card-title" style="color: #14532d;">♻️ Why Go Green?</h5>
        <p class="card-text" style="color: #2c3e50;">Choosing green services helps you lower your carbon footprint and protect the planet starting from your home.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-sm mb-4" style="background-color: #90c0aa; border: none;">
      <div class="card-body text-center">
        <h5 class="card-title" style="color: #14532d;">💧 How It Works</h5>
        <p class="card-text" style="color: #2c3e50;">Explore our services, view verified providers, and book seamlessly all in one sustainable platform EcoConnect.</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-4 mb-5">
  <a href="{% url 'providers' %}" class="btn btn-lg" style="background-color: #27ae60; color: white;">
    Explore Providers
  </a>
</div>
{% endblock %}
